html, body {
    height:100%;
} 

body {
    background: url('../img/wood.jpg')  no-repeat fixed;
    background-position: left top;
    -webkit-background-size: 100% 100%; 
    -moz-background-size: 100% 100%;  
    -o-background-size: 100% 100%;  
    background-size: 100% 100%;
    overflow: hidden;
}

@media handheld and (max-width: 600px), screen and (max-width : 600px) {
    #Poster {
        visibility: hidden;
    }

}

#Poster {
    width: 110vh;
    position: absolute;
    right: 17vh;
    bottom: 10vh;
}

#Vote {
    text-align: center;
    font-size: 7vh;
    margin-top: 40vh;
    margin-left: 5vh;
    width: 58vh;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -2px 2px 0 #000,
    1px 1px 0 #000;
}

#Count {
    text-align: center;
    font-size: 8vh;
    margin-top: 5vh;
    margin-left: 5vh;
    width: 58vh;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -2px 2px 0 #000,
    1px 1px 0 #000; 
}